{% extends 'base.html'%}
{% block navbar %}
{% include 'navbar.html' %}
{% endblock %}

{% block content %}

<div class="jumbotron">
  <h1 class="display-4">Hello, welcome to pitches !</h1>
  <p class="lead">In life, you only have 60 seconds to impress someone. 1 minute can make or break you. How do we make sure that you use your 1 minute to actually say something meaningful?</p>
  <hr class="my-4">
  <ul>
    <p class="btn btn-success btn-lg" href="#" role="button"><a href="/pitch/new">Click Here To Post A Pitch</a></p>
</ul>
  
  
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            {% if current_user.is_authenticated %}
            <a id="start" class="btn btn-danger animated infinite flash" href="{{url_for('main.get_all_pitches')}}">See All Pitches</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}